.gallery{
    width:90%;
    max-width:900px;
    margin:auto;
    text-align:center;
    padding-top:40px;
}

.gallery h1{
    font-family:'Dancing Script',cursive;
    font-size:52px;
    color:#7b2cbf;
    margin-bottom:30px;
}

#photo{
    width:100%;
    max-width:420px;
    height:520px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.2);
    transition:.4s;
}

.buttons{
    margin-top:25px;
}

.buttons button,
.finish{
    margin:10px;
}